ul {
  list-style-type: none;
}
li {
  margin-right: 7px;
  width: 50px;
}
a {
  display: flex;
  text-decoration: none;
  color: rgb(190, 173, 142);
  font-family: Verdana, Arial, sans-serif;
  letter-spacing: -0.5px;
  white-space: nowrap;
  padding: 5px;
  border-radius: 20px;
  width: 80px;
  justify-content: center;
  transition: color 0.15s;
  transition: background-color 0.15s;
}

a:hover {
  color: rgb(84, 77, 77);
  background-color: aliceblue;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}
.left-section {
  display: flex;
  flex: 1;
  flex-shrink: 0;
}
.right-section {
  display: flex;
  flex: 1.1;
  justify-content: space-around;
  flex-shrink: 0;
  width: 300px;
}

.logo {
  height: 150px;
}
